<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Explore</h1>
      <div class="d-flex flex-wrap bd-highlight mb-3">
        <a class="btn btn-link text-warning" href="/tags/Culture">Culture</a>
        <a class="btn btn-link text-warning" href="/tags/Fashion">Fashion</a>
        <a class="btn btn-link text-warning" href="/tags/Health">Health</a>
        <a class="btn btn-link text-warning" href="/tags/Science">Science</a>
        <a class="btn btn-link text-warning" href="/tags/Tech">Tech</a>
        <a class="btn btn-link text-warning" href="/tags/Travel">Traveling</a>
      </div>
    </div>
  </div>