<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <a class="navbar-brand" href="/blogs">All Blogs</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/me/blogs"
          >My Blogs <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/me/add"
          >New Blog <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <%= name%>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">My profile</a>
          <a class="dropdown-item" href="#">Update profile</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a
        href="/logout"
        class="btn btn-outline-success my-2 my-sm-0"
        type="submit"
        >Logout</a
      >
    </form>
  </div>
</nav>
