<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Viral</title>

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800"
      rel="stylesheet"
    />

    <!-- Icons -->
    <link
      type="text/css"
      href="/assets/vendor/nucleo/css/nucleo-icons.css"
      rel="stylesheet"
    />
    <link
      type="text/css"
      href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
      rel="stylesheet"
    />

    <!-- Argon CSS -->
    <link
      type="text/css"
      href="/assets/css/argon-design-system.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- body%>

    <!-- Core -->
    <script src="/assets/js/core/jquery.min.js"></script>
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>

    <!-- Argon JS -->
    <script src="/assets/js/plugins/argon-design-system.js"></script>
    <script src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script>
    <script>
      CKEDITOR.replace( 'body' );
    </script>
  </body>
</html>
