<div class="text-center home">
  <main>
    <h1 class="cover-heading">BLOG</h1>
    <p class="lead">Writes blogs for the world</p>
    <p>
      <a href="/login" class="btn btn-success" role="button">Login</a>
      <a href="/sign-up" class="btn btn-success" role="button">Sign-up</a>
    </p>
  </main>
</div>
