.card {
  border: none;
  margin: 10px;
}
blockquote {
  font-style: italic;
  font-size: 1.3em;
  line-height: 1.6em;
  padding-left: 60px;
  padding-right: 20px;
  position: relative;
  color: #1c1c1c;
}